<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />

		<!-- 컬럼에 언더바가 있으면 카멜식으로 바꿔서 매핑  ex)데이터베이스에서 play-id >>> playId  로 바뀜  VO에 우측 처럼 만들면 됨.  -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	

</configuration>