<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>

	<!-- vo패키지 경로에 대한 별명, collection들도 가능  -->
	<typeAliases>
		<typeAlias type="korea.it.culture.qna.vo.QnaVO" alias="qna"/>
		<typeAlias type="korea.it.culture.qna.vo.QnaReVO" alias="qna_reples"/>
		<typeAlias type="korea.it.culture.login.vo.UserVO" alias="user"/>
		<typeAlias type="korea.it.culture.main.vo.PlayVO" alias="play"/>
		<typeAlias type="korea.it.culture.playInfo.vo.PlayInfoVO" alias="playInfo"/>
		<typeAlias type="korea.it.culture.playInfo.vo.LocInfoVO" alias="locInfo"/>
		<typeAlias type="korea.it.culture.main.vo.TodayVO" alias="today"/>
		<typeAlias type="korea.it.culture.main.vo.RepleVO" alias="reple"/>
		<typeAlias type="korea.it.culture.playInfo.vo.FavoriteVO" alias="favorite"/>

	</typeAliases>

	<mappers>
		<mapper resource="config/mybatis/mapper/qna.xml"/>
		<mapper resource="config/mybatis/mapper/qnaReple.xml"/>
		<mapper resource="config/mybatis/mapper/user.xml" />
		<mapper resource="config/mybatis/mapper/playInfo.xml" />
		<mapper resource="config/mybatis/mapper/play.xml"/>
		<mapper resource="config/mybatis/mapper/reple.xml"/>
		<mapper resource="config/mybatis/mapper/today.xml"/>
	</mappers>
</configuration>